@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

pre [data-line] {
  padding: 0 1rem;
}
